<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Marks Page</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="DSA">DSA</label>
        <input type="text" name="DSA" id="DSA">

        <label for="CP">CP</label>
        <input type="text" name="CP" id="CP">

        <label for="ML">ML</label>
        <input type="text" name="ML" id="ML">

        <button type="submit">Submit</button>

        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" placeholder="Enter Your Name">
        </div>
    </form>
</body>
</html>